#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.receipt{
  background-color: #888;
  border: 2px solid orange;
  width:  200px;
  position: relative;
  overflow: hidden;
}
.receipt-image{
  max-width: 100%;
  height: auto;
  position:  absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.receipt:hover .receipt-image{
  box-shadow: 5px 5px 12px orange;
  padding: 1%;
  transform: translateY(-10px);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: rgb(58, 1, 1);
background-blend-mode: screen;
opacity: 1;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  color:  white;
  
}
#order{
  text-align: left;
    list-style:circle;
}
#list{
  text-align: left;
  list-style: circle;
}
#toppingsList{
  
}